# Cartella dipendenze Composer
/vendor/

# Configurazione specifica di NetBeans
/nbproject/

# File di output dei test
/mods_1.xml
/mods_2.xml
/output/

# File temporanei o di log
*.log
.DS_Store
Thumbs.db

# File zip
*.zip